body {
    margin: 0;
    font-family: "Segoe UI", Arial;
    background: #eef3f9;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(#0b2d4f, #061b2e);
    padding: 14px 30px;
    display: flex;
    align-items: center;
    color: white;
}

.navbar img {
    height: 38px;
    margin-right: 14px;
}

.navbar a {
    color: white;
    margin-left: 22px;
    text-decoration: none;
    font-weight: 600;
}

/* HERO */
.hero {
    height: 420px;
    background: url("/static/hero_bg.png") center/cover no-repeat;
    position: relative;
    color: white;
}


.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(6,27,46,0.65);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 90px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* CARD */
.card {
    background: white;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.15);
}

/* FORM */
.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

input, select, button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #0b4ea2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* DASHBOARD */
.section {
    padding: 40px 80px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

/* ADMIN */
.stats {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.stat-box {
    background: linear-gradient(#0b2d4f, #061b2e);
    color: white;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}
